.sentence {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 2rem 0;
  padding: 2rem;
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000;
  text-align: left;
  font-family: 'Georgia', serif;
}

.sentence span {
  display: inline;
}

.clue-eligible {
  background-color: #ffffff;
  color: #000000;
  padding: 2px 4px;
  border: 2px solid #000000;
  font-weight: 700;
  display: inline-block;
  margin: 0 1px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.clue-eligible:hover {
  background-color: #000000;
  color: #ffffff;
}

