#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--color-white);
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #root {
    padding: 0;
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0;
  }
}
